@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
#root {
  max-width: 100%;
  margin: 0;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.404);
  color: hsl(106, 99%, 40%);
  font-family: 'Creepster', cursive;
}
